.Hnav {
  width: 100vw;
  height: 35px;
  background-color: #e41212;
  display: flex;
  color: aliceblue;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  font-size: 15px;

}
.imgContainer{
  width: 200px;
  height: 100%;
}
.imgContainer img{
  height: 80%;
}
.Hnav a {
  color: aliceblue;
  text-decoration: none;
}
.usuario {
  display: flex;
  width: 10%;
  justify-content: space-around;
  align-items: center;
}
.usuario p{
  margin-top: 20px;
}